<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AYUSH Ministry</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <!-- Header -->
  <header id="header">
    <nav>
      <div class="container">
        <div class="text-center">
          <a href="#" class="nav-brand text-dark">Hospital List</a>
        </div>
        <!-- <div class="text-right">
          <a href="http://127.0.0.1:5502/contactStaff.html" class="nav-brand text-dark" target="_blank">Facing Issue?</a>
        </div> -->
      </div>
    </nav>
  </header>
  <!-- Header -->

  